---
layout: default
cover: 'assets/images/cover2.jpg'
class: 'tag-template'
navigation: True
logo: 'assets/images/ghost.png'
current: tag
---
<!-- dynamically overriding backgrounds for tags as well as descriptions -->



<!-- default -->
<!-- The tag above means - insert everything in this file into the [body] of the default.hbs template -->

<!-- If we have a tag cover, display that - else blog cover - else nothing -->
<header class="main-header tag-head {% if page.cover %}" style="background-image: url({{ site.baseurl }}{% if new_cover %}{{ new_cover }}{% else %}{{ page.cover }}{% endif%}) {% else %}no-cover{% endif %}">
    <nav class="main-nav overlay clearfix">
        <!-- {% if page.logo %}<a class="blog-logo" href="{{ site.baseurl }}"><img src="{{ site.baseurl }}{{ page.logo }}" alt="Blog Logo" /></a>{% endif %} -->
        {% if page.navigation %}
            <a class="menu-button icon-menu" href="#"><span class="word">Menu</span></a>
        {% endif %}
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ page.tag | capitalize }}</h1>
            <h2 class="page-description">
            {% if tag_description %}
                {{ tag_description }}
            {% elsif page.tag %}
			    A {{ page.tag }}-post collection
            {% endif %}

            </h2>
        </div>
    </div>
</header>

<main id="content" class="content" role="main">

    {% assign tagname = page.tag | downcase %}
    {% assign tagged_posts = site.tags[tagname] %}

    {% if tagged_posts %}
        {% for post in tagged_posts %}
            <article class="post">
                <header class="post-header">
                    <h2 class="post-title">
                        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
                    </h2>
                </header>
                <section class="post-excerpt">
                    <p>{{ post.excerpt }}</p>
                </section>
            </article>
        {% endfor %}
    {% else %}
        <p>No posts found for this tag.</p>
    {% endif %}

</main>
